<h1>Listings#edit</h1>
<%= simple_form_for [ @listing ] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.submit "Add listing", class: "btn btn-primary" %>
<% end %>
