<h1>Listings#new</h1>
<%= simple_form_for [ @listing ] do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit "Add listing", class: "btn btn-primary" %>
<% end %>
