<h1>Listings#show</h1>

<h2>Creat booking for this listing</h2>
<%= simple_form_for [ @listing, @booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :total, :as => :hidden, :input_html => { :value => 800.00} %>
  <%= f.submit "Book now", class: "btn btn-primary" %>
<% end %>
